<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<hr>
	<input type="text" id="username" name="username" placeholder="username...."><br>
	<input type="text" id="password" name="password" placeholder="password"><br>
	<button onclick="login()">로그인</button>
	
	<div id="token">사용자 정보</div>
	
	<hr>
	<button onclick="userInfo()">사용자 데이터 가져오기</button>
	<div id="msg"></div>
	
	<script>
		const info = document.getElementById("token");
		let userToken = null;
		function login(){
			const username = document.querySelector("input[name=username]").value;
			const password = document.querySelector("input[name=password]").value;
			fetch("/login",{
				method: "POST",
				  headers: {
				    "Content-Type": "application/json"  // JSON 전송임을 명시
				  },
				  body: JSON.stringify({
					  "username":username,
					  "password":password
				  })
				  		// JavaScript 객체 → JSON 문자열로 변환
			})
			.then(response => response.text())
			.then(data => {
				userToken = data;
				console.log(data);
				info.innerHTML = "사용자 토큰: " + data;
			})
			.catch(err =>{
				alert(err)
			});
		}
		
		function userInfo(){
			fetch("/user",{
				method: "GET",
				headers:{
					"USER-AUTH":"Bearer "+ userToken
				}
			})
			.then(response => response.text())
			.then(data => {
				console.log(data);
				if(data == '401'){
					login();
				}
				document.getElementById("msg").innerHTML = data;
				
			})
			.catch(err =>{
				alert(err);
			});
		}
		
		
	</script>
	
</body>
</html>