@charset "utf-8";

.manu{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    text-align: center;
    justify-content: center;
    gap: 30px;
    height: 50vh;
    line-height: 10px;
    letter-spacing: 5px;
    
    
}
#head{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

body{
    /*background-color: #036635 ;*/
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    background-image: image();


}
.image{
    border-radius: 20%;
    background-color: #036635;
}

  