<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome page</h1>
	<hr>
	<h2>member Info</h2>
	<p>[[${username}]]</p>
	<p>[[${name}]]</p>
	<p>[[${role}]]</p>
	<hr>
	<h2>thymeleaf에서 security접근</h2>
	<p>Welcome, <span sec:authentication="name"></span></p>
	<p>Welcome, <span sec:authentication="principal.name"></span></p>
	<p>Welcome, <span sec:authentication="principal.role"></span></p>
	<hr>
	<h2>principal 객체 값을 model에 저장</h2>
	<p>Welcome2, <span>[[${username2}]]</span></p>
	<p>Welcome2, <span>[[${principal}]]</span></p>
	<hr>
	<h2>@AuthenticationPrincipal 사용</h2>
	<p>Welcome3, <span>[[${username3}]]</span></p>
	<p>Welcome3, <span>[[${name3}]]</span></p>
	<p>Welcome3, <span th:text="${role}"></span></p>
	
	
	
</body>
</html>